<DOCTYPE!>
<html>
    <head>
        <title>error</title>
        <link rel="icon" href="/img/rain-16.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="error">{{error}}</div>
    </body>
</html>
